.container{
    // border:1px solid red;height:100vh;
    padding:1rem 2rem;
}

.preview{
    // border:1px solid blue;
    width:50rem;margin:0 auto;height:20rem;height:auto;
    display:flex;
    &--forms{
        // border:1px solid green;width:20rem;flex-grow:1;
        height:30rem;padding:.5rem 2rem;
        &--input{
            display:flex;flex-direction: column;margin-bottom:1rem;
        }
    }
    &--blogcard{
        // border:1px solid orange;width:25rem;
        padding-left:2rem;padding-top:1rem;padding-right:2rem;
    }
}