@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

@font-face {
    font-family:"DancingScript";
    src: url("/assets/fonts/DancingScript.ttf") format("TrueType");
}
.navbar{
    // border:1px solid red;
    display:flex;justify-content: space-between;height:4rem;
    align-items: center;border-bottom:1px solid #eee;
    background-color: #f5f7f6;
    &--left{
        display:flex;
        align-items: center;
        &--menu{
            display:flex;
            border-right:1px solid rgba(0,0,0,0.09);height:4rem;width:6rem;
            padding:0 .2rem;align-items:center;
            &--text{
                margin-left:.5rem;
                font-weight:bold;
            }
        }
    }
    &--logo{
        font-size:2rem;font-family:'DancingScript';
    }
    &--right{
        display:flex;height:4rem;
        align-items: center;
        &--register{
            font-weight:bold;margin-left:-10rem;margin-right:-5rem;width:10rem;
        }
        &--createblog{
            height:4rem;margin-left:5rem;width:10rem;
            display:flex;align-items: center;justify-content: center;text-align: center;
            background-color: #6bc1b5;color:white;
        }
    }
}