.form{
    // border:1px solid #eee;height:200rem;
    width:30rem;margin:0 auto;height:20rem;
    &--inputdiv{
        display:flex;flex-direction: column;padding:.5rem 2rem;
    }
    &--inputdiv input{
        height:2rem;border-radius: 10rem;padding:0 .5rem;font-size:1rem;
    }
}

.btn{
    border-radius:10rem;width:10rem;
    text-align: center;align-self: center;background-color: teal;color:white;
    cursor:pointer;
}